body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 285px;
}

.newPostArea {
    max-width: 385px;
    min-height: 50px;
    width: 100%;
    resize: vertical;
    border-radius: 7px;
}

.sideProfile,
.sideHashtags {
    border-radius: 7px;
}


#newPostPicture {
    border: 0.5px solid gray;
    margin-top: -45px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #dc3545;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 7px;
    margin-left: 70px;
}

.newComments {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    max-width: 385px;
    width: 100%;
}

input[type="text"]:disabled {
    background-color: white;
}

#messageButton {
    margin-left: 20px;
}

.newMessageArea {
    max-width: 385px;
    min-height: 50px;
    width: 100%;
    resize: vertical;
    border-radius: 7px;
}

.message {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}

.message-text {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
}

.friend .message-text {
    color: white;
    margin-bottom: 0;
    margin-left: 10px;
    margin-top: 0;
}

.self .message-text {
    color: #dc3545;
    border: 1px solid #dc3545;
    margin-bottom: 0;
    margin-left: 300px;
    margin-right: 10px;
    order: -1;
}

.messageInput {
    margin-left: 250px;
}

.timesent {
    font-size: 10px;
    color: silver;
}

.self .timesent {
    margin-left: 310px;
    padding: 0;
    margin-bottom: 0;
}

.friend .timesent {
    padding: 0;
    margin-bottom: 0;
    width: 100%;
    margin-left: 60px;
}

#messageContainer {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 400px;
}


